{% extends 'base.html.twig' %}

{% block title %}Team-mate -
	{{article.title}}
{% endblock %}


{% block body %}


	<div class="container bg-danger bg-gradient bg-opacity-50 text-white border border-warning rounded-2 mt-4">

		<h1 class="text-center">{{article.title}}</h1>
		<span class=" badge bg-success p-2">Créée le
			{{article.createdAt|date('d/m/Y')}}
		</span>
		<h2>Description :
		</h2>
		<hr class="featurette-divider">
		<p>
			{{article.content}}</p>
		<hr class="featurette-divider">

	</div>


{% endblock %}
