

	<footer class="text-center text-lg-start bg-dark bg-gradient" >
		<div class="container-fluid d-flex justify-content-center py-5">
			<button type="button" class="btn btn-primary bg-gradient btn-lg btn-floating mx-2">
				<i class="fa-brands fa-facebook"></i>
			</button>
			<button type="button" class="btn bg-warning btn-lg btn-floating mx-2 text-white">
				<i class="fa-brands fa-instagram"></i>
			</button>
			<button type="button" class="btn btn-info bg-gradient btn-lg btn-floating mx-2 text-white">
				<i class="fa-brands fa-twitter"></i>
			</button>
		</div>

		<!-- Copyright -->
		<div class="text-center text-white bg-dark-subtle bg-gradient" >
			© 2023 Copyright:
			<a class="text-white" href="#">Devillers Denis</a>
		</div>
		<!-- Copyright -->
	</footer>


