{% extends 'base.html.twig' %}


{% block title %}Team Mate - Accueil !
{% endblock %}

{% block body %}


	<main>


		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider ">
		<div class="container text-white ">
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="card-title">Bienvenu sur Team Mate.
						<span>Le meilleur endroit.</span>
					</h2>
					<p class="card-text">Pour trouver des exercices, ainsi que des partenaires d'entrainements.</p>
				</div>
				<div class="col-md-5 ">
					<img class="rounded-3 card-img" src="/img/girlfit.jpg" alt="">

				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5 ">
					<img class="rounded-3 card-img" src="/img/teamwork.jpg" alt="">
				</div>
				<div class="col-md-7 ">
					<h2 class="card-title">Dépasse tes performances.
						<span>Avec le meilleur partenaire.</span>
					</h2>
					<p class="card-text">Fixe des objectifs et dépasse les, avec ton teammate !</p>
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette ">
				<div class="col-md-7 ">
					<h2 class="card-title">S'entrainer n'a
						<span>jamais était aussi facile.</span>
					</h2>
					<p class="card-text">Avec Team-Mate évolue en équipe, dans les meilleurs conditions.</p>
				</div>
				<div class="col-md-5">
					<img class=" rounded-3 card-img" src="/img/poids.jpg" alt="">


				</div>
			</div>
		</div>
		<hr
		class="featurette-divider">

	<!-- /END THE FEATURETTES -->

	</div>
	<!-- /.container -->
{% endblock %}
