{% extends 'base.html.twig' %}


{% block title %}Team Mate - Accueil !
{% endblock %}

{% block body %}

	
		<div class="jumbotron text-center m-5 dd_home_text">
			<h1 class="display-4 ">Bienvenue sur Team Mate !</h1>
			<p class="lead">Ce site est faits pour trouver un partenaire de sport !</p>
			<hr class="my-4">
			<p>Pour ne plus jamais vous entrainer tout seul, inscrivez-vous !</p>
			<a class="btn btn-success btn-lg" href="#" role="button">S'inscrire</a>
		</div>


{% endblock %}
