body  {

    background: black;
   
}

/* Css Burger navBar */
.navbar-toggler {
    border: 0 transparent;
    background-color:  #db9c14;
  
}

/* Fin Css Burger NavBar  */
/* ///////////////////// */


/* Css footer */
.dd_footer {
   height: 750px;
  
}

/* Fin Css footer  */
/* ///////////////////// */


/* Css de la pagination */

.page-link{
    color: rgb(255, 255, 255);
}
.page-item:disabled{
    color: rgb(255, 255, 255);
}

.page-link:hover
{
    color: rgb(243, 108, 67);
    font-weight: bolder;
}
.active>.page-link{
 color: #f36c43;   
 font-weight: bolder;
}

.dd_pag_index .page-link{
    background-color: rgb(53, 53, 53)!important;
    border: 2px solid #f36c43;
}

/* fin css pagination */
/* ////////////////// */

/*  Css page d'accueil */

.dd_home_text{
    color: white;
}


/*fin Css page d'accueil/
/* ////////////////// */

/* Css list article */

@media screen and (min-width: 768px) {  
    .custom-collapse .collapse {
            display:block;
    }  
}

/*fin Css page article/
/* ////////////////// */

.dd_pag_team
    .page-link{
        background-color: rgb(53, 53, 53)!important;
        border: 2px solid #ff0000;
    }


    /* css btn hover icon */

    .dd_show:hover{
       content: url(/img/eye.svg);
       height: 40px;
       width: 18rem;
      
    }
    .dd_edit:hover{
       content: url(/img/pencil.svg);
       height: 40px;
       width: 18rem;
      
    }
    .dd_trash:hover{
       content: url(/img/trash.svg);
       height: 40px;
       width: 18rem;
    }
    .dd_trash_modal:hover{
       content: url(/img/trash.svg);
       height: 38px;
       width: 6.5rem;
    }