{% extends 'base.html.twig' %}

{% block title %}Team-Mate Edit Profil !
{% endblock %}

{% block body %}
	<div  class="dd_footer">
		<div class="container text-white">

			<h1 class="mt4 text-center">Modification de l'utilisateur</h1>

			{{form(form)}}

			</div>
		</div>

	{% endblock %}
