{% extends 'base.html.twig' %}

{% block title %}Team-Mate - Enregistrement
{% endblock %}

{% block body %}
	<div style="height:700px">
		<div class="container  text-white">
			<h1 class="mt-4 text-center">Creation de compte</h1>

			{{form(form)}}

			</div>
		</div>
	{% endblock %}
