{% extends 'base.html.twig' %}

{% block title %}Team-Mate - Enregistrement
{% endblock %}

{% block body %}
	<div class="container  text-white">
		<h1 class="mt-4 text-center">Creation de compte</h1>

            {{form(form)}}
         
	</div>
{% endblock %}